.Products {
  width: 95%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.Product {
  margin: 1rem;
  padding-bottom: 1rem;
  width: 20rem;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px 0px gray;
}
.Product > img {
  border-radius: 1rem;
  height: 20rem;
}
.Title {
  font-weight: 600;
  font-size: 1.8rem;
  text-decoration: underline;
  margin-top: 1rem;
}
.Price {
  font-weight: 600;
  color: gray;
}
@media screen and (max-width: 31em) {
  .Products {
    width: 98%;
  }
  .Product {
    width: 14rem;
  }
  .Product > img {
    height: 14rem;
  }
  .Title {
    font-size: 1.6rem;
  }
  .Price {
    font-size: 1.4rem;
  }
}
