.Filters {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
.Filter {
  margin: 1rem;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px 0px gray;
}
.Label {
  margin-right: 1rem;
  font-size: 2rem;
}
.Filter select {
  padding: 0.5rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  background-color: white;
  border: 0;
  border: 1px solid lightgray;
}
.Filter select:focus {
  outline: none;
}

@media screen and (max-width: 31em) {
  .Filter {
    padding: 1rem;
  }
  .Label {
    margin-right: 1rem;
    font-size: 1.6rem;
  }
  .Filter select {
    padding: 0.4rem;
    font-size: 1.4rem;
  }
}
